.logo {
  background-color: var(--color-grey);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  color: var(--color-grey-dark);
  margin-right: .75rem;

  svg {
    width: 2rem;
  }
}